service: flag-counter

# You can pin your service to only deploy with a specific Serverless version
# Check out our docs for more details
frameworkVersion: '2'

provider:
  name: aws
  runtime: java8
  region: us-west-2

package:
  artifact: build/libs/flagCounter-dev-all.jar

functions:
  hello:
    handler: com.procurify.flagcounter.Handler
    timeout: 12
    events:
      - schedule: cron(0 17 ? * 2-5 *)
    environment:
      SLACK_URL: ${env:SLACK_URL}
      SLACK_ERROR_URL: ${env:SLACK_ERROR_URL}
      LAUNCHDARKLY_KEY: ${env:LAUNCHDARKLY_KEY}
      TEAMS_MAP: ${env:TEAMS_MAP}

